<% provide(:title, "Log in") %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                   html: {class: "login-form"}) do |f| %>
        <h2 class="login-heading">Please log in</h2>
        <div class="field">
          <%= f.label :login, class: "sr-only" %>
          <%= f.text_field :login, autofocus: true, placeholder: "user name or email address",
                           class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "password" ,
                               class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me</span>
            <% end %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block login-btn" %>
        </div>
      <% end %>

      <div class="login-links">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
