<% provide(:title, "Articles") %>
<div class="row">
  <div class="col-md-12">
    <h2>Articles</h2>
    <% if current_user.try(:admin?) %>
      <%= link_to "New article", new_article_path, class: "new-article-link" %>
    <% end %>
    <% @articles.each do |article| %>

      <div class="article">
        <h3><%= article.title %></h3>
        <p><%= article.text %></p>
        <%= link_to "read", article %>
        <% if current_user.try(:admin?) %>
          | <%= link_to "edit", edit_article_path(article.id) %>
          | <%= link_to "delete", article, method: :delete,
                      data: { confirm: "You sure?" } %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
