<% provide(:title, "Articles") %>
<div class="articles-list">
    <h1>Articles
      <% if current_user.try(:admin?) %>
        <%= link_to "New article", new_article_path, class: "new-article-link btn btn-primary" %>
      <% end %>
    </h1>
    <% @articles.each do |article| %>

      <div class="article">
        <h2><%= link_to article.title, article %></h2>
        <div class="article-date">
          <p>
            Submitted: <%= article.created_at.to_formatted_s(:long) %>
          </p>
        </div>
        <div class="article-content">
            <%= simple_format(article.text) %>
        <% if current_user.try(:admin?) %>
          <div class="row">
            <div class="btn-group article-list-links col-md-3">
              <%= link_to "Read", article,
                          class: "btn btn-primary btn-sm btn-articles-list" %>
              <%= link_to "Edit", edit_article_path(article.id),
                          class: "btn btn-primary btn-sm btn-articles-list" %>
              <%= link_to "Delete", article, class: "btn btn-primary btn-sm btn-articles-list",
                          method: :delete,
                          data: { confirm: "You sure?" } %>
            </div>
          </div>
          <% else %>
          <div class="row">
            <div class="article-list-links col-md-3">
              <%= link_to "Read", article,
                          class: "btn btn-primary btn-sm btn-articles-list" %>
            </div>
          </div>
        <% end %>
        </div>
        <hr>
      </div>

    <% end %>
  </div>
