<% provide(:title, "New article") %>
<div class="row">
  <div class="col-md-12">
    <h2>Create new article</h2>
    <% if @article.errors.any? %>
      <div id="errors">
        <p>
          <%= pluralize(@article.errors.count, "error") %> prevented this article from saving
        </p>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for :article, url: articles_path, html: {class: "new-article-form"} do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </p>
      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text, class: "form-control", rows: "20" %>
      </p>
      <p>
        <%= f.submit "Create", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>