<% provide(:title, t(:all_users)) %>

<div class="row">
  <div class="col-md-offset-1">
    <h2><%= t(:all_users) %></h2>

    <%= will_paginate %>

    <%= render "table_header", user_group: t(:admins) %>
    <div class="row">
      <%= render @users.where(admin: true) %>
    </div>

    <div class="row">
      <div class="col-md-10">
        <hr>
      </div>
    </div>

    <%= render "table_header", user_group: t(:mortal_men) %>
    <div class="row">
      <%= render @users.where(admin: false) %>
    </div>

    <%= will_paginate %>
  </div>
</div>
