<% provide(:title, @user.email) %>
<h2>Your account</h2>
<%= render partial: "table_header", locals: {user_group: ""} %>
<div class="row">
  <div class="col-md-4">
    <%= @user.name %>
  </div>
  <div class="col-md-4">
    <%= @user.email %>
  </div>
  <div class="col-md-4">
    <%= link_to "edit", edit_user_registration_path %>
    | <%= link_to "delete", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>
