<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'The Blog', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Articles', articles_path %></li>
          <% if current_user.try(:admin) %>
            <li><%= link_to 'Users', users_path %></li>
          <% end %>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li>
                <%= link_to ' My account', user_path(current_user.id),
                            class: 'glyphicon glyphicon-user' %>
              </li>
              <li>
                <%= link_to ' Sign out', destroy_user_session_path, :method=>'delete',
                            class: 'glyphicon glyphicon-log-out' %>
              </li>
          <% else %>
              <li>
                <%= link_to ' Sign up', new_user_registration_path,
                            class: 'glyphicon glyphicon-user' %>
              </li>
              <li>
                <%= link_to ' Log in', new_user_session_path,
                            class: 'glyphicon glyphicon-log-in' %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
