<% provide(:title, t(:edit_account)) %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                 html: { method: :put, class:  "edit-user-form" }) do |f| %>
      <%= devise_error_messages! %>

      <h2><%= t(:edit) %></h2>

      <div class="field">
        <%= f.label t(:name), class: "sr-only" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, class: "form-control" %><br />
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label t(:password), class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control",
                             placeholder: t(:p_new_password) %>
      </div>

      <div class="field">
        <%= f.label t(:password_confirmation), class: "sr-only" %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
                             class: "form-control",
                             placeholder: t(:p_password_confirmation) %>
        <i>(<%= t(:you_can_leave_these_blank) %>)</i>
      </div><br />

      <div class="field">
        <%= f.label t(:current_password), class: "sr-only" %>
        <%= f.password_field :current_password, autocomplete: "off",
                             class: "form-control", placeholder: t(:current_password_to_confirm) %>
      </div>

      <div class="actions">
        <%= f.submit t(:update), class: "btn btn-lg btn-primary btn-block register-btn" %>
      </div>
    <% end %>

    <!--<h3>Cancel my account</h3>-->

    <!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                              data: { confirm: "Are you sure?" }, method: :delete,
                              class: "btn btn-lg btn-primary btn-block register-btn" %></p>-->

    <!--<%= link_to "Back", :back %>-->
  </div>
</div>
